body{
  background: linear-gradient(#f8f6fa, #EEECF1, #d9d7db);
}

button, input, .task{
  background: linear-gradient(#f8f6fa, #EEECF1, #d9d7db);
}

button, input{
  color: #282A3E;
}

button:hover{
  color: #ADC3D1;
}

input:focus{
  color: #282A3E;
  outline: 0;
  background: linear-gradient(#dcecf6, #d2e1eb, #c0ccd4);
}

.task:hover{
  color: #ADC3D1;
}

.task{
  color: #282A3E;
  border-bottom: 1px solid #282A3E;
}

.switch{
  background-color: #d2e1eb;
  border-color: #282A3E;
}

.slider{
  background-color: #3D3D3D;
}

label{
  color: #282A3E;
}